.home {
  padding: 3rem;

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 3rem;
    .img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      user-select: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;
      }
      h3 {
        color: var(--color-light);
        position: absolute;
        left: 2rem;
        bottom: 2rem;
        right: 2rem;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
      }

      &:hover {
        img {
          filter: brightness(0.6);
        }
        h3 {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .home {
    .gallery-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
